.header {
    font-size: 16px;
}


/*Chi nhánh, địa chỉ*/

.header .header-title {
    position: absolute;
    margin: 12px 0 12px 16px;
}


/* Tài khoản người dùng*/

.header .user {
    float: right;
    margin: 12px 16px 12px 0;
    display: flex;
}

.header .user .user-option {
    background-image: url("/icon/option.png");
    height: 24px;
    width: 24px;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 16px 0 16px;
}

.header .user .user-avt {
    background-image: url("/icon/avatar-default.png");
    height: 24px;
    width: 24px;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 16px;
}