.logo-page-icon {
    position: absolute;
    background-image: url("/img/toggle.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    margin: 12px 0 12px 16px;
}

.logo-page .logo-page-img {
    background-image: url("/img/cukcuk-logo.png");
    height: 24px;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 12px 0 12px 50px;
}


/* .closeLogo .item-text{
    display: none;
} */

.closeLogo .menu .item-text {
    display: none;
}

.closeLogo .menu {
    width: 5%;
}

.closeLogo .content {
    width: 95%;
}