button {
    outline: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.m-button {
    min-width: 100px;
    height: 36px;
    background-color: #2EA888;
    padding: 0 10px 0 10px;
    color: white;
    font-family: Notosans-Bold;
}

.m-button:hover {
    background-color: #31B491;
}

.m-button:active {
    background-color: #268C71;
}


/* m-button type 2 */

.m-button.m-button-type2 {
    background-color: white;
    border: 1px solid gray;
    color: black;
}

.m-button.m-button-type2:hover {
    background-color: #E2E4E9;
}

.m-button.m-button-type2:active {
    background-color: #99A1B2;
}


/* Button reload */

.reload-btn {
    background-image: url('../asset/img/reload.svg');
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-position: center center;
    height: 32px;
    width: 32px;
    opacity: 0.7;
    border: 1px solid gray;
    border-radius: 4px;
}

.reload-btn:hover {
    background-color: rgb(228, 222, 222);
    cursor: pointer;
}

.reload-btn:active {
    background-color: grey;
}


/* Paging button */

.paging-button {
    display: flex;
    right: 10px;
}

.paging-btn {
    width: 50px;
    height: 20px;
    border: 1px solid #424857;
    text-align: center;
    cursor: pointer;
    border-radius: 2px;
    margin: 0 10px 0 10px;
}

.paging-btn:hover {
    background-color: #C5C9D3
}

.paging-btn:active {
    background-color: #99A1B2
}